<!DOCTYPE html>
<html>
<head>
  <title>Registro de Alumnos y Asignaci贸n a Academias Militares</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <h1>Registro de Alumnos y Asignaci贸n a Academias Militares</h1>

  <section id="registroAlumnos">
    <h2>Registro de Alumnos</h2>
    <button id="startButtonAlumnos">Comenzar Registro</button>
    <button id="limpiarButton">Limpiar Registro</button> <!-- Bot贸n para limpiar los datos del caso 1 -->
    <div id="alumnos">
    </div>
    <button id="mostrarMayor">Mostrar Mayor</button>
    <div id="resultado">
    </div>
  </section>

  <section id="asignacionAcademias">
    <h2>Asignaci贸n a Academias Militares</h2>
    <button id="asignarButton">Asignar Academia</button>
    <div id="resultadoAsignacion">
    </div>
  </section>
</body>
</html>
